@import url('modern-reset.css');

*, *::before, *::after {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #23ADA1;
    --secondary-color: #214542;
    --accent-color: #a61c22;
    --alt-color: #dedede;
    --success-color: #259625;
    --x-color: #212742;
    --o-color: #a71a30;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;

}

header {
    padding: 1.1em 1em;
    border-bottom: 1px solid var(--alt-color);
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
}


/** game play screen **/

.header-btn {
    display: flex;
    gap: 10px;
    margin-right: 5vw;
}

.header-btn button {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: inherit;
    transition: border-color 0.3s, transform 0.1s;
}

.header-btn button:hover {
    border-color: var(--alt-color);
}

.header-btn button:active {
    transform: scale(0.98);
}

svg {
    width: 100%;
    height: auto;
}

.header-btn svg {
    fill: var(--accent-color);
}

.branding {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accent-color);
    margin-left: 5vw;
}

.ctn {
    width: min(700px, 100%);
    height: 75vh;
    margin: 0px auto;
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content;
}

.hidden {
    display: none !important;
}

.x-color {
    color: var(--x-color) !important;
}

.o-color {
    color: var(--o-color) !important;
}

.players {
    display: grid;
    width: 80%;
    grid-template-columns: 120px 120px;
    justify-content: space-between;
}

.players > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 10rem;
    line-height: 1;
    font-weight: 100;
    color: var(--alt-color);
    opacity: 0.8;
    user-select: none;
}


.players > div::after {
    content: attr(data-player-name);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    color: var(--alt-color);
    position: absolute;
}

@media (min-width: 780px) {
   .players > div {
        position: absolute;
        --top-offset: 27vh;
        --edge-offset: 8vw;
   }

    .player-x {
        top: var(--top-offset);
        left: var(--edge-offset);
    }
    .player-o {
        top: var(--top-offset);
        right: var(--edge-offset);
    }
}

.current-player {
    --border-radius: 10px;
    /* --offset: calc(100% - 42px); */
    --offset: 0px;
    --switch-bg: var(--x-color);
    display: inline-block;
    width: 90px;
    height: 25px;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    margin-bottom: 40px;
    position: relative;
}

.current-player::after {
    content: attr(data-current-player);
    height: 100%;
    width: 42px;
    border-radius: var(--border-radius);
    color: var(--alt-color);
    font-size: 0.9rem;
    background-color: var(--switch-bg);
    padding: 1px 0.7em;
    position: absolute;
    left: var(--offset);
    transition: left 0.2s;
}

.turn {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.scores {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--alt-color);
    user-select: none;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 40px;
}

.cell {
    padding: 2px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 500;
    color: #003652;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(7),
.cell:nth-child(8) {
    border-right: 4px solid var(--secondary-color);
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
    border-bottom: 4px solid var(--secondary-color);;
}

.result-modal:open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1,1);
}

.result-modal {
    width: clamp(300px, 42%, 405px);
    height: 20vh;
    padding: 10px;
    border: none;
    background-color: var(--alt-color);
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--secondary-color);
    display: grid;
    place-items: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: scale(0);
    opacity: 0;
    transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
}


/* must be after the default modal open state styles in order to take effect */
@starting-style {
    .result-modal:open {
        opacity: 0;
        transform: scaleY(0,0);
    }
}




/**override the grid display which prevents the modal from hidding when closed**/
.result-modal:not([open]) {
    display: none;
}

.result-modal::backdrop{
    background-color: transparent;
    transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
}

.result-modal:open::backdrop {
    background-color: rgba(0,0,0,0.4);
}

@starting-style {
    .result-modal:open::backdrop {
        background-color: transparent;
    }
}

button.close {
    padding: 4px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    color: #444;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: inherit;
    user-select: none;
}

button.close:focus {
    outline: 1px solid var(--secondary-color);
}


button.close:hover {
    background-color: #ccc;
}

.results {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--primary-color);
}



/** Welcome Screen **/
.welcome-ctn {
    margin-top: 6vh;
}

.welcome-screen h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--accent-color);
}

.player-mode {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.player-mode button {
    --btn-content-color: var(--alt-color);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--btn-content-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    background-color: inherit;
    transition: background-color 0.3s, --btn-content-color 0.3s, transform 0.1s;
}


.player-mode button:hover {
    background-color: var(--secondary-color);
    --btn-content-color: var(--primary-color);
}

.player-mode button:active {
    transform: scale(0.98);
}

.player-mode button svg {
    width: 90%;
    fill: var(--btn-content-color);
}


button.quit {
    font: 1.2rem;
    color: var(--accent-color);
    background-color: inherit;
    padding: 10px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    box-shadow: 1px 1px 2px var(--accent-color);
    transition: background-color 0.3s, color 0.3s, transform 0.1s;
}

button.quit:hover {
    background-color: var(--accent-color);
    color: var(--alt-color);
}

button.quit:active {
   transform: scale(0.98);
}

/** Player Settings Screen **/
.player-settings {
    width: 100%;
    display: grid;
    justify-items: center;
}

.name-inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
}

.player-name {
    display: grid;
    place-items: center;
    gap: 20px;
}

.player-name label {
    font-size: 7rem;
    font-weight: 100;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--alt-color);
    background-color: #226861;
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    user-select: none;
}


.player-name input {
    border: none;
    outline: none;
    border-bottom: 2px dashed var(--accent-color);
    padding: 4px 0;
    background-color: inherit;
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: 600;
    width: 230px;
    text-align: center;
}


.player-name input::placeholder {
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
    opacity: 0.7;
    font-style: italic;
    position: relative;
}

.nav-btns {
    display: flex;
    gap: 20px;
}

.nav-btns button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--alt-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.1s;
}

.nav-btns button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-btns button:active {
    transform: scale(0.98);
}


/* solo player mode styles*/

.level-select-label {
    margin-bottom: 1em;
}

.form-levels {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

select.levels {
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #203647;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #203647;
    padding: 0.3em;
    width: 110px;
    cursor: pointer;
    background-color: var(--alt-color);
}

.solo-player-mode {
    width: 100%;
    display: grid;
    justify-items: center;
}


.player-token {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-token {
    width: min(30%, 15em);
    /* height: 2.5em; */
    margin: 1em 1em 1em 1em;
    border-radius: 10px;
    outline: none;
    border: 2px solid #e9e3e3;
    font-size: 1.3rem;
    font-weight: 700;
    box-shadow: 1px 1px 3px #444343;
    background-color: var(--alt-color);
}

.btn-token:hover, .btn-token:focus {
    border-color: #554a4a;
}

.btn-x {
    color: var(--x-color);
}

.btn-o {
    color: var(--o-color);
}

.btn-selected {
    border-color: #554a4a;
}

.solo-player {
    margin-bottom: 2em;
}
