@import url('modern-reset.css');

.body {
    background-color: #E3E3E3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ctn {
    width: min(700px, 100%);
    height: 75vh;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 50px auto;
}

.turn {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}

section.play {
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23ADA1;
}

.board {
    width: 300px;
    height: 300px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    padding: 2px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(7),
.cell:nth-child(8) {
    border-right: 4px solid #1e7c74;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
    border-bottom: 4px solid #1e7c74;
}
